@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

::selection {
    background-color: #FFAE00;
    color: #000;
}

#herosec {
    background-color: #000;
}

.navbarlink {
    color: #fff;
    font-size: 16px;
    font-family: "Figtree", sans-serif;
}

.navbar-navs {

    padding-left: 440px;
}

.navbarlink:hover {
    border-bottom: 2px solid #FFAE00;
}

.nav-contactbtn {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 8px 20px;
    font-family: "Figtree", sans-serif;
    border-radius: 20px;
    color: #fff;
}
.nav-contactbtn:hover {
    background-color: #FFAE00;
    color: #000;
    border: none;
}
.navbar-logo {
    width: 100%;
    height: auto;
}



.navbar-spacing {
    margin-left: 7px;
}

.availabiltybtn {
    color: #FFAE00;
    border: 1px solid #818181b3;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 15px;
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-self: center;
    margin-top: 70px;
    text-transform: uppercase;
}

.headcontainer {
    position: relative;
}

.mainheading {
    font-size: 180px;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    color: #fff;
    line-height: 0.9em;
    text-transform: uppercase;
    display: flex;
    justify-self: center;
    margin-top: 18px;
    z-index: 1;
}

.meimg {
    position: absolute;
    top: 0px;
    left: 35%;
  height: 480px;
}

#whysec {
    margin-top: 220px;
    background-color: #f8f8f8;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.whybtn {
    color: #000;
    border: 1px solid #818181b3;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-self: start;
    text-transform: uppercase;
}

.whysecheading {
    color: #000;
    font-size: 80px;
    font-weight: 200;
    letter-spacing: -3px;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    margin-top: 10px;
}

.whyseccardheading {
    font-size: 24px;
    line-height: 1em;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    color: #000;
    font-weight: 400;
    margin-top: 20px;
}

.whyseccardpara {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

#whyseccard {
    width: 100%;
    padding: 12px 10px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    height: 240px;
}

#whyseccard:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* shadow effect */
    transition: transform 0.2s, box-shadow 0.2s;
}
.processsecheading{
    color: #000;
    font-size: 80px;
    font-weight: 200;
    letter-spacing: -3px;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    margin-top: 10px;
}
#projectsec {
    margin-top: 40px;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.projectsecheading {
    font-size: 60px;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    color: #fff;
    font-weight: 500;
    line-height: 0.9em;
    text-transform: uppercase;
    margin-top: 20px;
}

.projectsecbtn {
    color: #fff;
    border: 1px solid #818181b3;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-self: start;
    text-transform: uppercase;
}

#projectcard {
    width: 100%;
    /* padding: 12px 10px; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #000;
    border: 1px solid #f8f8f8;
    height: 523px;
    margin-top: 50px;
}

.projectcardpara {
    font-size: 18px;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    color: #fff;
    line-height: 0.9em;
    margin-top: 20px;
}

.projectcardimg {
    width: 100%;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#processsec {
    margin-top: 80px;
    background-color: #f8f8f8;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 80px;
}

.processbtn {
    background-color: #FFAE00;
    border-radius: 30px;
    border: none;
    width: 35%;
    margin-top: 20px;
}

.processbtn:hover {
    background-color: #000;

    .processbtntext {
        color: #fff;
    }

}

.processbtntext {
    font-size: 14px;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    color: #000;
    line-height: 10px;
    margin-top: 15px;
}

.processseclisthead {
    font-size: 32px;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    line-height: 1em;
    letter-spacing: -1px;
    color: #000;
}

.processseclistpara {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}

#aboutsec {
    margin-top: 80px;
    padding-top: 60px;
    padding-left: 50px;
    padding-bottom: 80px;
}

.aboutsecimg {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.aboutsecbtn {
    color: #fff;
    border: 1px solid #818181b3;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-self: start;
    text-transform: uppercase;
}

.aboutsecheading {
    color: #fff;
    font-size: 70px;
    font-weight: 200;
    letter-spacing: -3px;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    margin-top: 10px;
}

.aboutsecpara {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    padding-top: 15px;
}

#clientsec {
    margin-top: 70px;
    background-color: #f8f8f8;
    padding-top: 92px;
    padding-left: 50px;
    padding-bottom: 90px;
}

.clientsechead {
    color: #FFAE00;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: -2px;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    margin-top: 10px;
}

#clientseccard {
    width: 100%;
    height: auto;
    border-radius: 30px;
    border: 1px solid #f8f8f8;
    background-color: #fff;
}

#clientseccard:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* shadow effect */
    transition: transform 0.2s, box-shadow 0.2s;
}

.clientsecpara {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #000;
    padding-top: 30px;
    border-bottom: 1px solid #0000008e;
    padding-bottom: 30px;
    font-weight: 500;
}

.clientdetail {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    padding-top: 10px;
}

#footer {
    margin-top: 70px;
    padding-top: 45px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
}

.footerbox {
    background-color: #1A1A1A;
    width: 100%;
    height: auto;
    border-radius: 40px;
    padding: 70px;
}

.footerbtn {
    color: #fff;
    border: 1px solid #818181b3;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 15px;
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-self: start;
    text-transform: uppercase;
}

.footerhead {
    color: #fff;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    font-family: Arial, Verdana, Tahoma, sans-serif;

    letter-spacing: -2px;
}

.clientforminput {
    background-color: #1A1A1A;
    border: 1px solid #818181b3;
    border-radius: 8px;
    color: #fff;
    padding: 8px 12px;
    width: 100%;
    font-size:14px;
}
.clientforminput::placeholder{
    color: #fff;

}
.contcol{
    color: #fff;
}
.navbaricon{
    background-color: #f8f8f8;
    border-radius:8px;
padding: 8px;
}
.formbox{
    background-color: #000;
    width: 100%;
    height: auto;
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;

}
.clientformbtn {
   background-color: #1A1A1A;
    border: 1px solid #fff;
    padding: 8px 20px;
    font-family: "Figtree", sans-serif;
    border-radius: 8px;
    color: #fff;
    margin-top: 25px;
    display: flex;
    justify-self: center;
}
.clientformbtn:hover {
    background-color: #FFAE00;
    color: #000;
    border: none;
}
.footernavlink{
    color: #fff;
}
.footernavlink:hover {
    color:#FFAE00;
}
.footernav {
    color: #fff;
    padding-top: 65px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: "Figtree", sans-serif;
}
.processdet{
    margin-top: 0px;
}
@media screen and (min-width: 1400px) and (max-width: 1800px) {
.meimg {
  height: 540px;
}
.navbar-navs {
    padding-left: 540px;
}
#projectcard{
    height: 580px;
}
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
.meimg {
  height: 540px;
}
#projectcard{
    height: 570px;
}
.navbar-navs {
    padding-left: 420px;
}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    
    .nav-contactbtn{
padding: 8px 15px;
    }
.navbar-navs {
    padding-left: 280px;
}
#projectcard{
    height: 443px;
}
.mainheading {
    font-size: 150px;
}
.processbtn {
width: 45%;
}
.footerhead{
        font-size: 50px;
           
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .formbox{
        margin-top: 50px;
    }
    #whyseccard {
   display: flex;
   justify-content: center;
   justify-self: center;
}
    .footerhead{
        font-size: 50px;
     
    }
.mainheading {
    font-size: 120px;
}
.meimg {
  height: 430px;
  left: 33%;
}
.projectsecheading{
    font-size: 50px;
}
#projectcard{
    height: 723px;
    margin-top: 200px;
    margin-bottom: 30px;
}

.processsecheading{
    font-size: 60px;
    
}
.processdet{
    margin-top: 60px;
}
.aboutsecheading{
    font-size: 60px;
}
#clientseccard{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    justify-self: center;

}
}
@media screen and (min-width: 700px) and (max-width: 780px) {
    #projectcard{
    height: 643px;
    margin-top: 200px;
    margin-bottom: 30px;
}

}
@media screen and (min-width: 576px) and (max-width: 768px) {
     .formbox{
        margin-top: 50px;
    }
    
        #whyseccard {
   display: flex;
   justify-content: center;
   justify-self: center;
}
     .footerhead{
        font-size: 40px;
    }
    #clientseccard{
    margin-top: 60px;
  display: flex;
    justify-content: center;
    justify-self: center;
}
.footerbox{
    padding: 60px;
}
    .processbtn {
width: 55%;
}
.mainheading {
    font-size: 100px;
}
.meimg {
  height: 400px;
  left: 30%;
}
.projectsecheading{
    font-size: 40px;
}
   #projectcard{
    height: 583px;
    margin-top: 200px;
    margin-bottom: 30px;
}
.processsecheading{
    font-size: 50px;
    
}
.processdet{
    margin-top: 60px;
}
.aboutsecheading{
    font-size: 50px;
}
.aboutsecpara{
    font-size: 14px;
}

}
@media screen and (min-width: 580px) and (max-width:700px)  {
     .formbox{
        margin-top: 50px;
    }
    
      #whyseccard {
   display: flex;
   justify-content: center;
   justify-self: center;
}
 #projectcard{
    height: 473px;
    margin-top: 200px;
    margin-bottom: 30px;
}
}
@media screen and (max-width: 575px) {
    .footernavlink{
        font-size: 14px;
    }
    .clientforminput::placeholder{
        font-size: 14px;
     
    }
        #whyseccard {
   display: flex;
   justify-content: center;
   justify-self: center;
}
    .footerbox{
    padding: 50px;
}
    .footerbtn{
 padding: 5px 8px;
 font-size: 12px;
    }
     .footerhead{
        font-size: 40px;
    }
        .processbtn {
width: 60%;
}
    .processsecheading{
    font-size: 40px;
    
}
.mainheading {
    font-size: 80px;
}
.meimg {
  height: 360px;
  left: 25%;
}
.whysecheading{
    font-size: 50px;
}
.projectsecheading{
    font-size: 30px;
}

.projectcardpara{
   font-size: 14px;
     margin-top: 0px;
}
#projectcard{
    height: 420px;
}
.processdet{
    margin-top: 60px;
}
  .aboutsecheading{
    font-size:50px;
}
.aboutsecpara{
    font-size: 10px;
}
}
@media screen and (max-width: 470px) {
     .clientforminput::placeholder{
        font-size: 12px;
     
    }
    .navbar-logo {
    width: 70%;
}
     .formbox{
        margin-top: 40px;
    }
     .footerbox{
    padding: 40px;
}
     .footerbtn{
 padding: 5px 6x;
 font-size: 9px;
    }
    #clientseccard{
    margin-top: 60px;
      display: flex;
    justify-content: center;
    justify-self: center;

}
      .aboutsecheading{
    font-size: 40px;
}
.aboutsecpara{
    font-size: 10px;
}
        .processsecheading{
    font-size: 38px;
    
}
    #projectcard{
    height: 420px;
    margin-top: 100px;
}
.meimg {
  height: 360px;
  left: 20%;
}
.projectcardpara{
    font-size:8px;
     margin-top: 0px;
}
#projectcard{
    height: 280px;
}
        .processbtn {
width: 80%;
}
.processdet{
    margin-top: 60px;
}
.footerhead{
        font-size: 30px;
    }
    .whysecheading{
          font-size: 40px;
    }
}
@media screen and (max-width: 350px) {
     .formbox{
        margin-top: 40px;
    }
    .whysecheading{
          font-size: 35px;
    }
    .meimg {
  height: 360px;
  left: 10%;
}
    .footerhead{
        font-size: 30px;
    }
     .footerbox{
    padding: 35px;
}
#clientseccard{
    margin-top: 60px;
      display: flex;
    justify-content: center;
    justify-self: center;

}
.projectcardpara{
     display: flex;
     justify-content: start;
     justify-items: start;
}
.processdet{
    margin-top: 60px;
}
}